.forgot-form {
  background: white;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 20px;
  position: relative;
  //   top: 5vh;
  min-height: 70vh;
  @media all and(max-width:767px) {
    border-radius: 10px;
  }
  .center-align {
    // text-align: center;

    .form-title {
      font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
      -webkit-font-smoothing: antialiased;
      font-size: 22px;
      font-weight: bold;
      letter-spacing: -0.5px;
      //   text-align: center;
      color: #212529;
      margin-top: 50px;
      margin-bottom: 30px;
    }
  }
  .input-fields {
    label {
      color: #808080;
    }
    .input-box {
      input {
        width: 100%;
      }
    }
  }
  .forgot-btn {
    button {
      border-radius: 10px;
      background: #2955ae;
      border: none;
      font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
      -webkit-font-smoothing: antialiased;
      font-size: 18px;
      font-weight: 800;
      letter-spacing: -0.5px;
      text-align: center;
      color: #ffffff;
      padding: 10px;
      width: 100%;
      margin-top: 20px;
      text-transform: uppercase;
    }
  }
}
