.about-block {
  @media all and (max-width: 767px) {
    // background: white;
  }
  padding-top: 20px;
  padding-bottom: 20px;
  .about-div {
    background-color: white;
    border-radius: 5px;
    padding: 15px 0;
    text-align: left;
    max-height: 500px;
    text-align: justify;
    @media all and (max-width: 767px) {
      padding: 20px 20px 30px 20px;
      max-height: unset;
      border-radius: 10px;
    }
    .title {
      padding: 20px 0px;
      padding-top: 0;
      font-size: 26px;
      font-weight: 700;
    }
    .desc {
      .info {
        font-size: 12px;
        //   padding: 0px 50px;
        @media all and (max-width: 767px) {
          padding: 0px;
        }
        h6 {
          font-size: 12px;
          font-weight: 900;
          padding-bottom: 5px;
        }
        p {
          color: #808080;
          ul {
            text-decoration: none;
            display: inline-block;
            @media all and (max-width: 767px) {
              padding-left: 20px;
            }
            li {
              display: block;
              padding: 8px 0;
            }
            li:nth-child(5) {
              padding-bottom: 0;
            }
          }
        }
      }
      // text-align: left;
    }
    .input-fields {
      // text-align: left;
      .label {
        //   margin-left: 25%;
        display: block;
        //   width: 50%;
        text-align: left;
        margin-bottom: 0;
        @media all and (max-width: 767px) {
          width: 100%;
          margin-left: 0px;
        }
      }
      .field-block {
        text-align: -webkit-center;
        .error {
          display: block;
          // width: 50%;
          margin-bottom: 5px;
          text-align: left;
          padding: 0px 5px;
          font-size: 12px;
          color: red;
          @media all and (max-width: 767px) {
            width: 100%;
          }
        }
      }
      label {
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 12px;
        color: #808080;
        font-weight: normal;
        padding: 0.2em 0em 0.3em;
      }
      input,
      textarea {
        border: 1px solid #e5e5e5;
        border-radius: 10px;
        padding: 8px 10px 8px 20px;
        width: 100%;
        margin-bottom: 10px;
        @media all and (max-width: 767px) {
          width: 100%;
        }
      }
      textarea {
        height: 100px;
      }
    }
    button {
      border-radius: 10px;
      background: #22b5fb;
      border: none;
      font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
      -webkit-font-smoothing: antialiased;
      font-size: 18px;
      font-weight: 800;
      letter-spacing: -0.5px;
      text-align: center;
      color: white;
      padding: 10px;
      width: 100%;
      margin-top: 20px;
      text-transform: uppercase;
      @media all and (max-width: 767px) {
        width: 100%;
      }
    }
  }
}
