.event-page{
    .event-div{
    .load-more-button-container{
      display:flex; 
      justify-content:center;
      flex-direction:row;
      cursor:pointer;
    }
    .load-more-button{
      border:2px solid #ffffff;
      border-radius:26px;
      padding:4px 36px;
      color:#ffffff;
      background:#000000;
      margin-top:25px;
    }
  }
  }