.ant-select-selection--single{
    width:20vw;
}
.ant-select-dropdown .ant-select-dropdown--single .ant-select-dropdown-placement-bottomLeft  .ant-select-dropdown-hidden{
    width: 20vw;
}
.ant-select-selection--multiple{
    width:20vw;
}