$header-color: black;
$button-color: #2955ae;
$color1: #0a8b4d;
$color2: #fbc000;
$header-box-shadow: 0 0 0 2px $color1, 0 0 0 4px $color2;
$category-colors: #ef2947, #00a992, #997362, #eda8cd;

@import "./components/header/header.scss";
@import "./components/index/index.scss";
@import "./components/auth/auth.scss";
@import "./components//contactus/contactus.scss";
@import "./components/Events/events.scss";
@import "./components/event-details/event-details.scss";

// #u_0_4 {
//   display: none !important;
// }
// .pluginConnectTextDark {
//   display: none !important;
// }

// .fbblikee {
//   display: none !important;
// }
.categoryDiv {
  order: 1;
  align-items: baseline;
  margin: 0 auto; 
  .homePageImage {
    position: absolute;
    left: 1%;
    width: 75px;
    @media all and (max-width: 1199px) {
    }
    @media all and (max-width: 1100px) {
    }
    @media all and (max-width: 991px) {
      // width: 50px;
    }
    @media all and (max-width: 800px) {
      // width: 50px;
    }
    @media all and (max-width: 767px) {
      display: none;
    }
  }
  @media all and (max-width: 767px) {
    order: 2;
  }
  .container-mobile {
    @media all and (max-width: 767px) {
      max-width: 100%;
    }
    .category-nav {
      width: 100%;
      justify-content: space-between;
      margin: 20px auto;
      order: 1;
      @media all and (max-width: 767px) {
        overflow-x: auto;
        flex-wrap: nowrap;
        margin: 15px auto;
        align-items: stretch;
        padding: 5px;
        width: 100%;
        order: 2;
      }
      .category-nav-item-header {
        display: flex;
      }

      .category-nav-item {
        flex-shrink: 0;
        flex-grow: 1;
        @media all and (max-width: 991px) {
          flex-direction: column;
        }
      }

      .category-nav-item:not(:first-child) {
        margin-left: 1em;
      }

      @each $current-color in $category-colors {
        $i: index($category-colors, $current-color);
        .category-nav-item:nth-child(#{$i}) {
          position: relative;
          // min-width: 180px;
          // width: 23%;
          box-shadow: 0.5px 0.5px 2px 0.5px rgba(0, 0, 0, 0.2);
          border-radius: 5px;
          text-align: center;
          display: flex;
          .category-img {
            padding: 7px;
            border-right: 1px solid #f1f1f1;
            img {
              width: 50px;
              height: 50px;
            }
          }
          .title {
            font-size: 18px;
            font-weight: 600;
            margin: auto 10px;
            box-shadow: inset 0px -30px 0 -20px $current-color;
            a {
              color: #000000;
              text-decoration: none;
            }
          }
          .category-nav-item-dropdown {
            position: absolute;
            // opacity: 0;
            display: none;
            width: 100%;
            top: 70px;
            transition: all 0.3s;
            z-index: -1;
            background: #fff;
            box-shadow: 0.5px 0.5px 2px 0.5px rgba(0, 0, 0, 0.2);
            text-align: left;
            @media all and (max-width: 767px) {
              position: unset;
              top: 62px;
              // opacity: 1;
              display: block;
              z-index: 999;
              flex: 1;
            }
            > ul li {
              padding: 8px 10px 8px 20px;
              font-weight: 600;
              font-size: 0.9em;
            }
            > ul li a {
              text-decoration: none;
              color: #aaaaaa;

              &:hover {
                color: #000000;
                border-bottom: 3px solid $current-color;
              }
            }
          }

          &:hover {
            .category-nav-item-dropdown {
              top: 62px;
              // opacity: 1;
              display: block;
              z-index: 999;
            }
          }
        }
        .category-nav-item:nth-child(4) {
          transform: scaleX(0.9);
          margin-left: 5px;
        }
      }
    }
  }
}

.category-nav2 {
  // width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  // order: 1;
  padding: 0;
  @media all and (max-width: 767px) {
    overflow-x: auto;
    flex-wrap: nowrap;
    margin: 15px auto;
    padding: 5px;
    width: 100%;
  }
  @media all and (max-width: 767px) {
    // order: 2;
  }
  .category-nav-item-header2 {
    display: flex;
  }

  .category-nav-item2 {
    flex-shrink: 0;
    flex-grow: 1;
    @media all and (max-width: 991px) {
      flex-direction: column;
    }
  }

  .category-nav-item2:not(:first-child) {
    margin-left: 1em;
  }

  @each $current-color in $category-colors {
    $i: index($category-colors, $current-color);
    .category-nav-item2:nth-child(#{$i}) {
      position: relative;
      // min-width: 180px;
      // width: 23%;
      // box-shadow: 0.5px 0.5px 2px 0.5px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      text-align: center;
      display: flex;
      .category-img2 {
        padding: 7px;
        // border-right: 1px solid #f1f1f1;
        img {
          width: 50px;
          height: 50px;
        }
      }
      .title2 {
        font-size: 18px;
        font-weight: 600;
        margin: auto 10px;
        box-shadow: inset 0px -30px 0 -20px $current-color;
        a {
          color: #000000;
          text-decoration: none;
        }
        .active-cat {
          padding-bottom: 10px;
          border-bottom: 2px solid $current-color;
        }
      }
      .category-nav-item-dropdown2 {
        position: absolute;
        opacity: 0;
        width: 100%;
        top: 70px;
        transition: all 0.3s;
        z-index: -1;
        background: #fff;
        // box-shadow: 0.5px 0.5px 2px 0.5px rgba(0, 0, 0, 0.2);
        text-align: left;
        @media all and (max-width: 767px) {
          position: unset;
          top: 62px;
          opacity: 1;
          z-index: 999;
        }
        > ul li {
          padding: 8px 10px 8px 20px;
          font-weight: 600;
          font-size: 0.9em;
        }
        > ul li a {
          text-decoration: none;
          color: #aaaaaa;

          &:hover {
            color: #000000;
            border-bottom: 3px solid $current-color;
          }
        }
      }

      &:hover {
        .category-nav-item-dropdown2 {
          top: 62px;
          opacity: 1;
          z-index: 999;
        }
      }
    }
  }
}

.description-block {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  min-height: 150px;
  @media all and (max-width: 767px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  h2 {
    font-weight: 600;
  }
  p {
    color: #888;
    font-size: 0.8em;
  }
  .cat {
    width: 70%;
    height: auto;
    @media all and (max-width: 767px) {
      width: 100%;
      padding: 0 15px;
    }
    div:nth-child(1) {
      font-size: 34px;
      font-weight: 700;
      text-transform: capitalize;
    }
    div:nth-child(2) {
      // margin-bottom: 20px;
      p {
        @media all and (max-width: 767px) {
          margin-bottom: 5rem;
        }
        // @media all and (max-width:424px) {
        //   margin-bottom: 5rem;
        // }
      }
    }
  }
  // .cat-img {
  //   width: 225px;
  //   height: auto;
  //   position: relative;
  //   img {
  //     // position: absolute;
  //     // top: -50px;
  //     // right:50px;
  //     // width: 30%;
  //     width: 100%;
  //     position: absolute;
  //     top: -100px;
  //     left: 100px;
  //   }
  //   @media all and (max-width: 767px) {
  //     display: none;
  //     width: 0;
  //     overflow-x: hidden;
  //   }
  // }
  .cat-bg-img {
    // width: 40%;
    // background-repeat: no-repeat;
    // background-position: right;
    // background-size: 50%;
    // position: absolute;
    // height: 150px;
    // right: 0;
    // bottom: 80px;
    // background-size: contain;
    width: 30%;
    background-repeat: no-repeat;
    background-position: right;
    /* background-size: 50%; */
    position: absolute;
    height: 100%;
    right: 0;
    bottom: 50px;
    background-size: contain;
    @media all and (max-width: 991px) {
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
      height: 100%;
      margin-bottom: 20px;
      position: absolute;
      bottom: 20px;
      right: 0;
      z-index: -1;
    }
    @media all and (max-width: 767px) {
      height: 150px;
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
      position: absolute;
      bottom: 0;
      margin-bottom: 0px;
      right: 0;
      z-index: -1;
    }
  }
}

.small-title {
  font-size: 1.2em;
  font-weight: 600;
}

.blue-button {
  border-radius: 5px;
  background: $button-color;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  font-weight: 800;
  letter-spacing: -0.5px;
  text-align: center;
  color: #ffffff;
  padding: 10px;
  margin-top: 20px;
}
input,
textarea {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 8px 10px 8px 20px;
  width: 50%;
  margin-bottom: 10px;
  @media all and (max-width: 767px) {
    width: 100%;
  }
}

.loader-div {
  text-align: center !important;
}

.category-nav3 {
  display: flex;
  justify-content: center;
  // padding: 0;
  width: 100%;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out,
    -webkit-transform 0.2s ease-out;
  transition-delay: 0.75s;
  .category-nav-item-header3 {
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out,
      -webkit-transform 0.2s ease-out;
    transition-delay: 0.75s;
  }

  .category-nav-item3 {
    flex-shrink: 0;
    flex-grow: 1;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out,
      -webkit-transform 0.2s ease-out;
    transition-delay: 0.75s;
  }
  .category-nav-item3:not(:first-child) {
    margin-left: 1em;
  }

  @each $current-color in $category-colors {
    $i: index($category-colors, $current-color);
    .category-nav-item3:nth-child(#{$i}) {
      text-align: center;
      display: flex;
      .category-img3 {
        img {
          width: 40px;
          height: 40 px;
        }
      }
      .title3 {
        font-size: 14px;
        font-weight: 600;
        margin: auto 0px;
        box-shadow: inset 0px -30px 0 -20px $current-color;
        a {
          color: #000000;
          text-decoration: none;
        }
      }
    }
  }
}
.ReactModal__Content {
  @media all and (max-width: 767px) {
    border-radius: 1px 0px 0px 0px !important;
  }
}
